---
import ChatButton from "../components/ChatButton.astro";
import ForumButton from "../components/ForumButton.astro";
import RandomPageButton from "../components/RandomPageButton.astro";
import { base, links, feedbackMail } from "../const/consts";
import Layout from "../layouts/Layout.astro";
import classes from "../styles/welcome.module.scss";
---

<Layout>
	<div class={classes["page"]}>
		<h1>Добро пожаловать на OldRuNet!</h1>

		<div class={classes["greeting"]}>
			<embed src=`${base}/swf/pesenka_e.swf` width="300" height="300" />
			<div>
				<p>
					OldRuNet — имитация случайного сайта из 2010-ых годов и
					место для всех тех, кто помнит интернет таким, каким он был:
					нелепым, рандомным, зато с душой!
				</p>
				<p>
					Для кого-то этот сайт будет воспоминанием 10-20-летней
					давности, для кого-то — маленьким экспонатом, отражающим
					кусочек истории Интернета, для кого-то, может, просто
					набором устаревших технологий. В конце концов, это всего
					лишь сборная солянка всего самого, на наш взгляд,
					интересного, что было в старом ру(и не только!)нете.
				</p>
				<p>
					Мы рады всем! Исследуйте, читайте, тыкайте, воспроизводите,
					играйте во все, что тут разбросано, но самое главное —
					отдыхайте и развлекайтесь :)
				</p>
				<!--TODO: Add link to flashplayer tutorial -->
				<p>
					P.S.: Для просмотра флеш-контента на сайте установили
					Ruffle, но он работает далеко не для всех игр... О том, как
					заставить любимые игры работать читать <a href="#">здесь</a
					>.
				</p>
			</div>
		</div>

		<br />
		<br />

		<h2>Чем здесь заняться?</h2>
		<div>
			<p>
				Заскучали или нужно занятие на вечер? Заходите в <a
					href={links.games}>Игротеку</a
				> или <a href={links.videos}>Кинозал</a>!
			</p>
			<p>
				Настроение полистать, поскроллить или убить время? Разделы <a
					href={links.gallery}>Галерея</a
				> и <a href={links.pages}>Интернет</a> ждут вас!
			</p>
			<p>
				Также предлагаем вашему вниманию кнопочки для нажимания: <ChatButton
				/>
				<ForumButton />
				<RandomPageButton />
			</p>
			<p>
				Есть предложения или замечания? Пишите на <a
					href=`mailto:${feedbackMail}`>{feedbackMail}</a
				>
			</p>
			<!--TODO: Add mood link -->
			<p>...Мы также можем <a href="#">срочно поднять настроение</a>!</p>
		</div>
	</div>
</Layout>
