---
import { base, links } from "../const/consts";
import classes from "../styles/navigation.module.scss";

const currLocation = Astro.url.pathname.split("/")[2] || "/";
---

<nav class={classes["navigation"]}>
    <ul>
        <li>
            <a
                href=`${base}/`
                class={currLocation == "/" ? classes["active"] : ""}>Главная</a
            >
        </li>
        <li>
            <a
                href=`${base}/games/`
                class={currLocation == "games" ? classes["active"] : ""}
                >Игротека</a
            >
        </li>
        <li>
            <a
                href=`${base}/videos/`
                class={currLocation == "videos" ? classes["active"] : ""}
                >Кинозал</a
            >
        </li>
        <li>
            <a
                href=`${base}/gallery/`
                class={currLocation == "gallery" ? classes["active"] : ""}
                >Галерея</a
            >
        </li>
        <li>
            <a
                href=`${base}/pages/`
                class={currLocation == "pages" ? classes["active"] : ""}
                >Интернет</a
            >
        </li>
        <li>
            <a
                href=`${links.chat}`
                class={currLocation == "chatroom" ? classes["active"] : ""}
                >Чат</a
            >
        </li>
        <li>
            <a href="https://oldrunet.bbtalk.me/">Форум</a>
        </li>
    </ul>
</nav>
