---
import { base, links } from "../const/consts";
import classes from "../styles/navigation.module.scss";

const currLocation = Astro.url.pathname.split("/")[2] || "/";
---

<nav class={classes["navigation"]}>
    <ul>
        <li>
            <a
                href={links.main}
                class={currLocation == "/" ? classes["active"] : ""}>Главная</a
            >
        </li>
        <li>
            <a
                href={links.games}
                class={currLocation == "games" ? classes["active"] : ""}
                >Игротека</a
            >
        </li>
        <li>
            <a
                href={links.videos}
                class={currLocation == "videos" ? classes["active"] : ""}
                >Кинозал</a
            >
        </li>
        <li>
            <a
                href={links.gallery}
                class={currLocation == "gallery" ? classes["active"] : ""}
                >Галерея</a
            >
        </li>
        <li>
            <a
                href={links.pages}
                class={currLocation == "pages" ? classes["active"] : ""}
                >Интернет</a
            >
        </li>
        <li>
            <a
                href={links.chat}
                class={currLocation == "chatroom" ? classes["active"] : ""}
                >Чат</a
            >
        </li>
        <li>
            <a href={links.forum}>Форум</a>
        </li>
    </ul>
</nav>
